* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*Under er default css til koden*/
:root {
    animation: adjust-pos 0.01s linear both;
    animation-timeline: scroll(root);
}

body {
    transition: --scroll-position-delayed 0.15s linear;
    --scroll-velocity: calc(var(--scroll-position) - var(--scroll-position-delayed));
}

html {
    background: #666;
}

html {
    scroll-snap-type: y mandatory;
}



ul {
    list-style: none;
    pointer-events: none;
    line-height: 1;
    display: block;
}

ul li {
    display: block;
    line-height: 1;
}

.panel {
    scroll-snap-align: center;
    height: 100vh;
    border: 2px solid #333;
    background: rgb(0 0 0 / 0.15);
    z-index: -1;
    position: relative;
}

.panel img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
}

.panel .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 80%;

  
}

.panel .content h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.panel .content p {
    font-size: 1.2em;
}


/*Spesifik css*/


/*Under er media querieries, og alt som omhandler responsiovitet*/

@media screen and (max-width: 768px) {
    .panel .content h2 {
        font-size: 1.5em;
    }

    .panel .content p {
        font-size: 1em;
    }

    .titles {
        font-size: 6vh;
    }
}

@media screen and (max-width: 480px) {
    .panel .content h2 {
        font-size: 1.2em;
    }

    .panel .content p {
        font-size: 0.9em;
    }

    .titles {
        font-size: 5vh;
    }
}